.cover__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 740px;
  text-align: center;
}

@media (max-width: 1060px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 820px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 500px) {
  .cover__link {
    min-height: 200px;
  }
}