.cards__title {
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  margin: 0;
}

@media (max-width: 860px) {
  .cards__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media (max-width: 440px) {
  .cards__title {
    font-size: 32px;
    line-height: 1.09;
    margin-left: 16px;
    margin-right: 16px;
  }
}