.intro {
  padding: 92px 0 92px 0;
  max-width: 690px;
}

@media (max-width: 820px) {
  .intro {
    padding-top: 88px;
    padding-bottom: 88px;
    max-width: 720px;
  }
}

@media (max-width: 440px) {
  .intro {
    padding: 64px 0;
  }
}