.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 52px;
  margin-top: 28px;
}

@media (max-width: 440px) {
  .header__content {
    max-height: 42px;
    margin-top: 16px;
  }
}