.footer {
  padding: 92px 0 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 720px) {
  .footer {
    flex-direction: column;
  }
}